@font-face {
    font-family: 'maleficent';
    src: url('PentaGrams\ Malefissent.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
table {
    border-collapse: collapse;
}
button {
    cursor: pointer;
    border: 0;
    background: transparent;
}
.material-symbols-rounded {
    border: 0;
    background: transparent;
}
html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}
body {
    background: #030303;
    color: #ffffff;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
     font-family: 'Pretendard';
}
.bg {
    position: relative;
    background: url('img/background.jpg') no-repeat center/cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
} 
.innertop {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
}
.logoimg > img {
    position: absolute;
    bottom: 71px;
    width: 1142px; 
    left: 50%;
    transform: translateX(-50%);
}
header {
    position: relative;
    position: fixed;
    width: 100%;
    height: 70px;
    background: linear-gradient(#030303, #0303035a);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(4px);
    z-index: 100;
}
.headerinner {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    width: 1300px;
    height: 100%;
    justify-content: center;
}
.logo {
    position: absolute;
    left: 0;
}
.logo > h1 {
    font-family: 'maleficent';
    font-size: 1.5625em;
    letter-spacing: 3px;
}
.menu-all{
    display: flex;
}
.menu {
    display: flex;
}
.menu > li {
    text-align: center;
    margin: auto;
}
.menu > li > a {
    padding: 0 20px;
    font-family: 'maleficent';
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 3px;
}
.menu2 {
    position: absolute;
    right: 0;
    top: 31%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
}
.menu2 > li:first-child {
    padding: 0 10px 0 20px;
    border-left: 1px solid #ffffff;
    font-size: 1rem;
    font-weight: 600;
}
#menu-toggle {
    display: none;
}
.down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.down {
    text-align: center;
    margin-bottom: 18px;
}
.down > p {
    font-size: 1.0625rem;
    color: #ffffff;
    font-family: 'maleficent';
}
.down > .material-symbols-rounded {
    font-size: 2.0625rem;
}

/*시놉시스*/
#sinopsis {
    position: relative;
    width: 100%;
    height: 793px;
    text-align: center;
    padding: 100px 0 160px 0;
}
.sinopsisbg {
    position: absolute;
    width: 100%;
    z-index: -1;
}
.maleimg {
    position: relative;
    margin: auto;
    z-index: 4;
}
.maleimg img {
    width: 30px;
}
h2 {
    position: relative;
    font-family: 'maleficent';
    font-size: 1.5625rem;;
    letter-spacing: 3px;
    line-height: auto;
    margin-top: 10px;
    z-index: 4;
}
h3 {
    margin-top: 70px;
    font-size: 2.375rem;
    line-height: 57.6px;
    font-weight: 900;
}
#sinopsis > p {
    margin-top: 38px;
    font-size: 1.25rem;
    line-height: 59px;
}
br.mobile {
    display: none;
}

/*트레일러*/
#trailer > video {
    width: 100%;
    height: 747px;
}

/*캐릭터소개*/
#character {
    width: 100%;
    text-align: center;
    padding: 100px 0 160px 0;
}
.character {
    display: flex;
    width: 1300px;
    margin: auto;
    margin-top: 70px;
    gap: 20px;
}
.charactercon {
    position: relative;
    width: 310px;
    height: 650px;
    margin: auto;
}
.characterimg-w {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.characterimg-w img {
    width: 100%;
    height: auto;
    filter: blur(3px) brightness(0.7);
    transition: transform 0.5s ease, filter 0.5s ease;
}
.charactercon:hover .characterimg-w img {
    transform: scale(1.1);
    filter: blur(0) brightness(1);
}
.characterimg-m {
    display: none;
}
.c-info {
    position: relative;
    margin: auto;
    bottom: 0;
    text-align: center;
}
.c-infobg {
    position: absolute;
    width: 310px;
    height: 450px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, #00000000, #000000);
}
.infocon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 310px;
}
.infocon blockquote, .infocon .line, .infocon .name, .infocon .descript{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.charactercon:hover .infocon blockquote, .charactercon:hover  .infocon .line, .charactercon:hover .infocon .name, .charactercon:hover .infocon .descript {
    opacity: 1;
}
.charactercon:hover h4 {
    color: #ffffff;
}
blockquote {
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 40px;
}
.line {
    width: 90px;
    height: 1px;
    background: #ffffff;
    margin: auto;
    margin-top: 20px;
}
h4 {
    color: #707070;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: 'Pretendard-Regular';
    margin-top: 20px;
}
.name {
    margin-top: 7px;
    font-size: 0.9375rem;
    font-weight: 300;
}
.descript{
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #e6e6e6;
}

/*갤러리*/
#gallery {
    width: 100%;
    text-align: center;
    padding: 100px 0 160px 0;
}
.gall {
    width: 1300px;
    margin: auto;
}
.gallcon {
    margin-top: 70px;
    display: block;
    gap: 20px;
}

.gall1, .gall2, .gall3, .gall4 {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}
.gall1 {
    padding-top: 0;
}
.gall3 {
    position: relative;
    height: 200px;
}
.gall4 {
    padding-bottom: 0;
}
.gall4 {
    display: none;
}
.gall img {
    width: 420px;
}
.gall3 img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, black);
    z-index: 2;
}
.gall3 img, .gall4 img {
    width: 420px;
}

.m-gallcon {
    display: none;
}
.expanded .gall3 {
    height: 100%;
}
.expanded .gall3 img {
    height: 100%;
}
.expanded .overlay { 
    display: none; 
}
.expanded .gall3, .expanded .gall4 { 
    display: flex; 
}
#toggle-gall {
    margin-top: 20px;
    z-index: 100;
}
#toggle-gall > .material-symbols-rounded {
    font-size: 3.125rem;;
    color: #ffffff;
    font-weight: 300;
}
.expanded .toggle-gall {
    margin-top: 20px;
    z-index: 100;
    
}

/*이벤트*/
#event {
    width: 100%;
    height: 1181px;
    padding: 100px 0 160px 0;
    text-align: center;
    background: url('img/eventbg.png') no-repeat center/cover;
}
.eventcon {
    width: 1300px;
    margin: auto;
    margin-top: 70px;
}
.con1, .con2 {
    display: flex;
    width: 1300px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}
.con2 {
    margin-top: 30px;
}
.eventtext {
    text-align: left;

}
.day {
    font-size: 1rem;
    font-weight: 500;
}
h5 {
    font-size: 1.5625rem;
    font-weight: 800;
    margin-top: 10px;
}
.coupontext {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 32px;
}
.eventnext {
    position: relative;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    display: grid;
    gap: 20px; 
}
.eventnext > li > a > .material-symbols-rounded {
    font-size: 1.5rem; 
    padding-left: 10px;
    vertical-align: middle;
}
.eventnoice{
    text-align: left;
    font-size: 1rem;
    margin-top: 100px;
}
h6 {
    font-size: 1.125rem;
}
.eventnoice > p {
    margin-top: 15px;
    line-height: 32px;
}

/*사운드트랙*/
#soundtrack {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 100px 0 160px 0;
    background: #111111;
}
.trackbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);



}
.trackbg img {
    width: 100%;
} 
.soundtrack-con {
    position: relative;
    display: flex;
    margin: auto;
    width: 1300px;
    margin-top: 70px;
    justify-content: space-between;
    z-index: 4;
}
.musiccon {
    position: relative;
    margin-top: 81px;
}
.player {
    position: relative;
}
.album > img {
    width: 420px;
    border-radius: 5px;
    filter: brightness(0.7);
}
#play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#play-btn >.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 3.625rem;
  
}
#more-btn > .material-symbols-rounded {
    border: 0;
    background: transparent;
    color: #ffffff;
    font-size: 3.625rem;
}
.trackinfo {
    text-align: left;
}
.track-title { 
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 19px;
}
.track-artist {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 10px;
}
#track-list {
    position: relative;
    width: 640px;
}
#track-list > li {
    text-align: left;
    font-size: 1.0625rem;
    font-weight: 600;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: 100%;
}
#track-list > li > span {
    position: absolute;
    right: 0;
    text-align: right;
    font-weight: 500;
}
.overlay-track {
    position: absolute;
    margin: auto;
    right: 0;
    width: 100%;
    height: 270px;
    bottom: 0px;
    background: linear-gradient(to bottom, transparent, #121212af );
    z-index: 10;
}
#more-btn {
    margin-top: 10px;
    align-self: flex-start;
    background: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
#more-btn .material-symbols-rounded {
    font-size: 3.125rem;
    font-weight: 300;
}
.hidden {
    display: none;
}
.expanded .overlay-track {
    display: none;
}
.expanded .hidden {
    display: block;
}

.notice_port {
    color: #bfbfbf;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    line-height: 20px;
}
@media (max-width:767px) {
    body {
        background: #030303;
        color: #ffffff;
        width: 100%;
    }
    .innertop {
        position: relative;
        width: 100%;
        height: 100vh;
        margin: auto;
        justify-content: center;
    }
    .logoimg > img {
        position: absolute;
        bottom: 70px;
        width: 550;
        left: 50%;
        transform: translateX(-50%);
    }

    /*헤더*/
    header {
        justify-content: space-between;
        width: 100%;
        height: 70px;
    }
    .headerinner {
        width: 95%;
        height: 70px;

        align-items: center;
    }
    .logo > h1 {
        font-size: 1rem;
    }
    /*햄버거 메뉴*/
    #menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
    #menu-toggle span {
        display: block;
        width: 28px;
        height: 2px;
        border-radius: 30px;
        background: white;
        transition: 0.3s;
    }
    #menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    #menucon.active {
        display: flex;
    }
    #menucon {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
    }
    .menu-all {
        position: absolute;
        left: 50%;
        top: 50%;
        flex-direction: column;
        transform: translate(-50%, -50%);
    }
    .menu {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .menu > li > a {
        padding: 0;
    }
    .menu2 {
        position: relative;
        line-height: 30px;
        gap: 20px;
        padding: 30px 20px 0 20px;
        border-top: 1px solid #ffffff;
    }
    .menu2 > li:first-child {
        border: 0;
        padding: 0;
        padding-bottom: 6px;
    }
    .menu > li > a {
        line-height: 70px;
    }
    .logoimg > img { 
        width: 550px;
        margin-bottom: 41px;
    }
    .down {
        font-size:1.25rem;
        margin-bottom: 6px;
    }
    .down > .material-symbols-rounded {
        margin-bottom: 41px;
        font-size: 2.0625rem;
    }
    .maleimg{
        width: 30px;
        padding: 0;
    }
    h2 {
        margin-top: 10 px;
        font-size: 1.25rem;
    }

    /*시놉시스*/
    #sinopsis {
        width: 100%;
        height: auto;
        padding: 60px 0 90px 0;
    }
    .sinopsisbg > img {
        width: 100%;
        margin-top: 30px;
    }
    h3 {
        font-size: 1.0625rem;
        margin-top: 45px;
        line-height: 33px;
    }
    #sinopsis > p {
        font-size: 0.875rem;
        margin-top: 25px;
        line-height: 27px;
    }
    br.mobile {
        display: inline;
    }
    #trailer > video{
        width: 100%;
        height: 250px;
    }

    /*캐릭터*/
    #character {
        width: 100%;
        height: auto;
        overflow-x: auto;
        padding: 60px 0 90px 0;
    }
    .character::-webkit-scrollbar {
        display: block;
        height: 8px; 
    }
    .character::-webkit-scrollbar-track {
        background-color: #5b5b5b; 
        border-radius: 10px; 
    }
    .character::-webkit-scrollbar-thumb {
        background-color: #ffffff; 
        border-radius: 10px; 
        height: 16px; 
    }
    .character {
        display: flex;
        width: 95%;
        height: auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        margin-top: 45px;
        padding-bottom: 20px;

    }
    .charactercon {
        flex: none;
        width: 100vw;
        display: flex;
        flex-direction: column;
        scroll-snap-align: start;
        position: relative;
        overflow: hidden;
    }
    .characterimg {
        width: 100%;
        height: 410px;
    }
    .characterimg > img {
        filter: none;
        transform: none;
        background-size: auto;
    }
    .characterimg-w {
        display: none;
    }
    .characterimg-m {
        display: block;
        width: 100%;
        height: 440px;
        overflow: hidden;
        position: relative;
    }
    .characterimg-m img {
        width: 100%;
        height: 440px;
        object-fit: cover;
    }
    .charactercon:hover .characterimg img {
        transform: none;
        filter: none;
    }
    .c-info {
        top: -5%;
        left: 50%;
        width: 100%;
    }
    .c-infobg {
        width: 100%;
        height: 116px;
        left: 0;
        bottom: 0;
    }
    .infocon {
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        position: relative;
        border: none;

    }
    .infocon blockquote, .infocon .line, .infocon .name, .infocon .descript{
        opacity: 1;
    }
    blockquote {
        line-height: 39px;
        font-size: 1.625rem;
        font-weight: 900;
    }
    .line {
        width: 118px;
        margin: 0;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    h4 {
        font-size: 1.25rem;
        color: #ffffff;
    }
    .infocon > .name {
        font-size: 0.875rem;
        margin-top: 12px;
    }
    .descript {
        font-size: 0.875rem;
        margin-top: 31px;
    }
    .descript br {
        display: none;
    }
    /*갤러리*/
    #gallery { 
        width: 100%;
        height: auto;
        padding: 60px 0 90px 0;
    }
    .gall {
        width: 95vw;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }
    .gallcon {
        display: none;
    }
    .m-gallcon {
        display: flex;
        gap: 10px;
    }
    .m-gallcon img {
        flex: none;
        width: 100vw;
        height: 100vh;
        object-fit: contain; 
        scroll-snap-align: center; 
    }
    .overlay, #toggle-gall {
        display: none;
    }
    .gall::-webkit-scrollbar {
        display: block;
        height: 8px; 
    }
    .gall::-webkit-scrollbar-track {
        background-color: #5b5b5b; 
        border-radius: 10px;
    }
    .gall::-webkit-scrollbar-thumb {
        background-color: #ffffff; 
        border-radius: 10px; 
        height: 16px; 
    }
    .gallcon .expanded {
        display: none;
    }

    /*이벤트*/
    #event {
        width: 100vw;
        height: 100%;
        padding: 60px 0 90px 0;
    }
    .eventcon {
        width: 100vw;
        padding: 0 10px;
        margin-top: 45px;
    }
    .con1, .con2 {
        width: 100%;
    }
    .day {
        font-size: 0.8125rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    .coupontext {
        font-size: 0.75rem;
        max-width: 220px;
    }
    .eventnext {
        font-size: 0.875rem;
    }
    .eventnext > li > a > .material-symbols-rounded {
        font-size:1.25rem; 
        padding-left: 5px;
    }
    .eventnoice > p {
        display: block;
        font-size: 0.6875rem;
        line-height: 20px;
    }

    /*사운드트랙*/
    #soundtrack {
        width: 100%;
        height: auto;
        padding: 60px 0 90px 0;
    }
    .trackbg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .trackbg > img {
        height: 499px;
        overflow: hidden;
        object-fit: cover;
    }
    .soundtrack-con {
        width: 100%;
        flex-direction: column;
        margin-top: 45px;
    }
    .musiccon {
        margin-top: 0;
    }
    .player {
        width: 100%;
        padding: 0 74px 0 74px;
        margin: auto;
    }
    .album > img {
        width: 100%;
    }
    .track-list {
        font-size: 1rem;
    }
    #play-btn > .material-symbols-rounded {
        font-size: 3.125rem;
    }
    .trackinfo {
        text-align: center;
    }
    .track-title {
        margin-top: 10px;
        font-size: 1rem;
    }
    .track-artist {
        font-size: 0.75rem;
        margin-top: 8px;
    }
    .tracklist {
        width: 100vw;
        margin-top: 30px;
    }
    #track-list {
        margin: auto;
        width: 75vw;
    }
    #track-list > li {
        font-size: 0.9375rem;
        padding: 15px 0;
    }
    #more-btn {
        width: 100vw;
        display: block;
        text-align: center;
    }
    #more-btn > .material-symbols-rounded {
        font-size: 1.875rem;
    }
}